/* CSS Style */

/* Body */
body {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
}

/* Header */
header {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.content {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

ul {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* footer */
footer {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: small;
}
